@using Microsoft.EntityFrameworkCore;
@model Product
<div class="card" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-name">
            @Model.Name
            <span class="badge rounded-pill bg-primary ms-2">
                @Model.Price.ToString("c")
            </span>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.Type</h6>
        <p class="card-text">@Model.Description</p>
        <a class="btn btn-outline-secondary mt-2" href="@Url.Action("Create", "Purchase", new { productId = Model.ProductId })">Order</a>
    </div>
</div>