@model IEnumerable<KovacsWebshop.Models.Purchase>

@{
    ViewData["Title"] = "Purchase history";
}

<h2>Purchase history</h2>
<p>
    <a class="btn btn-primary" asp-action="Create">Create new purchase</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Purchase date</th>
            <th>Email</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Price.ToString("c")</td>
                <td>@item.Quantity</td>
                <td>@item.PurchaseDate.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@item.Email</td>
                <td>@item.Status</td>
            </tr>
        }
    </tbody>
</table>
